<form action="/search" method="POST">
  <label>
    Search by title
    <input type="text" name="search" value="title">
  </label>
  <label>
    Search by author
    <input type="text" name="search" value="author">
  </label>
  <button type="submit">Submit</button>
</form>