<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/base.css">
  <title>Server parsed HTML Form</title>
</head>
<body>
  <h1>Search</h1>
  <a href="searches/new">New search</a>
  <div><b>Total books: </b> <%= count %></div>
  <%- include('../partials/bookDisplay', { books }) %>
  
</h